
.title {
    color: #3d2250;
    padding-bottom: 20px;
    text-align: center;
  }
  .text {
    color: #777;
  }
  .btn {

    display: block;
    width: 150px;
    padding: 8px 0;
    margin: 20px auto;
    background: #9b49ff;
    border-radius: 4px;
    color: rgb(13, 13, 13);
    text-align: center;
  }